.line {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	margin: 20px 0;
}

.funcionario {
	width: 100%;
	background-color: white;
	position: relative;
	padding: 10px 5px;
	float: left;
}

.avatar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20%;
}

.avatar > img {
	border-radius: 100%;
	width: 45px;
	height: 45px;
}

.conteudo {
	float: left;
	margin-left: 24.9%;
	width: 75%;
}

.conteudo > .nome {
	font-size: 18px;
	font-weight: 600;
}

.conteudo > .actions > button {
	float: right;
}

.total {
	width: 100%;
}