{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Relatório de Produção</title>
	<style type="text/css">
		body {
			font-weight: 200;
			font-size: 14px;
		}

		tr {
			padding-top: 2px;
			text-align: center
		}

		h1 {
			font-size: 22px; font-weight: 400; text-align: center; margin: 0px;
		}

		h2 {
			font-size: 18px; font-weight: 400; text-align: center; margin: 0px;
		}

		table {
			margin-top: 30px;
		}

	</style>
</head>
<body>
	<h1>SGF - Sistema de Gerenciamento de Facções</h1>
	<h2>Relatório de produção</h2>
	<h2>Funcionário: {{fun.user.first_name}} {{fun.user.last_name}}</h2>

	{% if userpro %}
		<table border="1">
			<tr>
				<th>Data</th>
				<th>Peças produzidas</th>
			</tr>
			{% for pro in userpro %}
			<tr>
				<td>{{pro.data}}</td>
				<td>{{pro.quantidade}}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Nenhuma produção registrada para esse funcionário</p>
	{% endif %}
	
</body>
</html>