{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>{% block titulo %} SGF - Início {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
    
<link href="{% static 'plugins/jquery-metrojs/MetroJs.min.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/shape-hover/css/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/shape-hover/css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/owl-carousel/owl.theme.css' %}" />
<link href="{% static 'plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static 'plugins/jquery-slider/css/jquery.sidr.light.css' %}" rel="stylesheet" type="text/css" media="screen"/>
<link rel="stylesheet" href="{% static 'plugins/jquery-ricksaw-chart/css/rickshaw.css' %}" type="text/css" media="screen" >
<link rel="stylesheet" href="{% static 'plugins/Mapplic/mapplic/mapplic.css' %}" type="text/css" media="screen" >
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="{% static 'plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/boostrapv3/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/custom-icon-set.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/magic_space.css' %}" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->

<!-- NOTIFICAÇÃO -->

{% block cssinclude %}

{% endblock %}
<link href="{% static 'css/ccustom.css' %}" rel="stylesheet" type="text/css"/>

</head>
	<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
	<div class="header-seperation"> 
		<ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
		 <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
		</ul>
      <!-- BEGIN LOGO -->	
      <a href="index.html"><img src="{% static 'img/logo.png' %}" class="logo" alt=""  data-src="{% static 'img/logo.png' %}" data-src-retina="{% static 'img/logo2x.png' %}" width="106" height="21"/></a>
      <!-- END LOGO --> 
      <ul class="nav pull-right notifcation-center">	
        <li class="dropdown" id="header_task_bar"> <a href="index.html" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
        <li class="dropdown" id="header_inbox_bar" > <a href="email.html" class="dropdown-toggle" > <div class="iconset top-messages"></div>  <span class="badge" id="msgs-badge">2</span> </a></li>
		<li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>        
      </ul>
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
	  <div class="pull-left"> 
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
        </ul>
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-reload"></div>
            </a> </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-tiles"></div>
            </a> </li>
			<li class="m-r-10 input-prepend inside search-form no-boarder">
				<span class="add-on"> <span class="iconset top-search"></span></span>
				 <input div="search" name="" type="text"  class="no-boarder " placeholder="Pesquisar funcionário" style="width:250px;">
			</li>
		  </ul>
	  </div>
	 <!-- END TOP NAVIGATION MENU -->
	 <!-- BEGIN CHAT TOGGLER -->
    
	   <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>

<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
  <div class="header-seperation"> 
    <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">  
     <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>     
    </ul>
      <!-- BEGIN LOGO --> 
      <a href="index.html"><img src="{% static 'img/logo.png' %}" class="logo" alt=""  data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21"/></a>
      <!-- END LOGO --> 
      <ul class="nav pull-right notifcation-center">  
        <li class="dropdown" id="header_task_bar"> <a href="index.html" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
        <li class="dropdown" id="header_inbox_bar" > <a href="email.html" class="dropdown-toggle" > <div class="iconset top-messages"></div>  <span class="badge" id="msgs-badge">2</span> </a></li>
    <li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>        
      </ul>
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="pull-left"> 
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
            <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
        </ul>
        <ul class="nav quick-section">
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-reload"></div>
            </a> </li>
          <li class="quicklinks"> <span class="h-seperate"></span></li>
          <li class="quicklinks"> <a href="#" class="" >
            <div class="iconset top-tiles"></div>
            </a> </li>
      <li class="m-r-10 input-prepend inside search-form no-boarder">
        <span class="add-on"> <span class="iconset top-search"></span></span>
         <input name="" type="text"  class="no-boarder " placeholder="Pesquisar funcionário" style="width:250px;">
      </li>
      </ul>
    </div>
   <!-- END TOP NAVIGATION MENU -->
   <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right"> 
      <div class="chat-toggler">  
        <div class="profile-pic"> 
          <img src="assets/img/profiles/avatar_small.jpg"  alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" /> 
        </div>            
      </div>
      </div>
     <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper"> 
   <div class="user-info-wrapper">  
  <div class="profile-wrapper">
    <img src="{% block avatar %}{% endblock %}"  alt="" data-src="{{img}}" data-src-retina="{{img}}" width="69" height="69" />
  </div>
    <div class="user-info">
      <div class="greeting">Bem-vindo</div>
      <div class="username">{% block nome %}{% endblock %}</div>
      <div class="status">{% block grupo %}{% endblock %}</div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
   
   <!-- BEGIN SIDEBAR MENU -->  
  <p class="menu-title">Navegação <span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
    <ul>  
      <li class="start active "> <a href="{% url 'main' %}"> <i class="icon-custom-home"></i> <span class="title">Início</span> <span class="selected"></span></a> </li>
      <li class=""> <a href="{% url 'controle' %}"> <i class="fa fa-users"></i> <span class="title">Funcionários</span> </a> </li>    
      <li class=""> <a href="{% url 'live' %}"> <i class="icon-custom-chart"></i> <span class="title">Tempo Real</span> </a> </li>    
      <li class=""> <a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> <span class="title">Sair</span> </a> </li>
    </ul>
  
  <div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
  </div>
  <a href="#" class="scrollup">Scroll</a>
   <div class="footer-widget">    
  <div class="progress transparent progress-small no-radius no-margin">
    <div data-percentage="79%" class="progress-bar progress-bar-success animate-progress-bar" ></div>   
  </div>
  <div class="pull-right">
    <div class="details-status">
    <span data-animation-duration="560" data-value="86" class="animate-number"></span>%
  </div>  
  <a href="lockscreen.html"><i class="fa fa-power-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content"> 
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>Widget Settings</h3>
      </div>
      <div class="modal-body"> Widget settings form goes here </div>
    </div>
    <div class="clearfix"></div>
    <div class="content">  
      <div class="page-title">  
        <h3>{% block pageTitle %}{% endblock %}</h3>    
      </div>
      {% include 'dashboard/messages.html' %}
      {% block content %}

      {% endblock %}
    </div>
  </div>

	
<script src="{% static 'plugins/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/boostrapv3/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/breakpoints.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-unveil/jquery.unveil.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-block-ui/jqueryblockui.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-lazyload/jquery.lazyload.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-scrollbar/jquery.scrollbar.min.js' %}" type="text/javascript"></script>
<!-- END CORE JS FRAMEWORK -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="{% static 'plugins/jquery-slider/jquery.sidr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/pace/pace.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-numberAnimate/jquery.animateNumbers.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-ricksaw-chart/js/raphael-min.js' %}"></script>
<script src="{% static 'plugins/jquery-ricksaw-chart/js/d3.v2.js' %}"></script>
<script src="{% static 'plugins/jquery-ricksaw-chart/js/rickshaw.min.js' %}"></script>
<script src="{% static 'plugins/jquery-sparkline/jquery-sparkline.js' %}"></script>
<script src="{% static 'plugins/skycons/skycons.js' %}"></script>
<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{% static 'plugins/jquery-gmap/gmaps.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/Mapplic/js/jquery.easing.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/Mapplic/js/jquery.mousewheel.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/Mapplic/js/hammer.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/Mapplic/mapplic/mapplic.js' %}" type="text/javascript"></script>
    
<script src="{% static 'plugins/jquery-flot/jquery.flot.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-metrojs/MetroJs.min.js' %}" type="text/javascript" ></script>


<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN CORE TEMPLATE JS -->
{% block jsinclude %}

{% endblock %}
<script src="{% static 'js/core.js' %}" type="text/javascript"></script>
<script src="{% static 'js/chat.js' %}" type="text/javascript"></script>
<script src="{% static 'js/demo.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dashboard_v2.js' %}" type="text/javascript"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $(".live-tile,.flip-list").liveTile();
            {% block js %}
            
            {% endblock %}
        });


        $(document).keypress(function(e) {
          if(e.which == 13)
          {
            alert($('input#search').val());
          }
        });


</script>
<!-- END CORE TEMPLATE JS -->

</body>
</html>
