{% extends './base.html' %}

{% load static %}
{% block titulo %} SGF - Funcionários {% endblock %}
{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}

{% block pageTitle %}
	Controle de funcionários
{% endblock %}

{% block content %}

	<style type="text/css">
		.modal-header{
			background-color: #c4c4d5
			border: 0;
		} 
		.modal-body, .modal-footer {
			border: 0;
			color: black; 
			background-color: #d4d4f5;
		}
</style>


		
	<div class="row filtro" style=>
		<div class="col-md-2">
			<div class="btn-group" style="width:100%">
                <button id="filtro1" class="btn btn-white btn-demo-space">Registro</button>
                <button class="btn btn-white dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Rentabilidade</a></li>
                </ul>
            </div>
		</div>

		<!-- Picker Data -->
		<div class="input-append success date col-md-2">
                <input type="text" class="form-control" id="sandbox-advance" name="data-de">
                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
		</div>

		<div class="input-append success date col-md-2 col-md-offset-1">
                <input type="text" class="form-control" id="sandbox-advance" name="data-ate">
                <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span>
		</div>

		<div class="col-md-2 col-md-offset-1">
			<div class="btn-group total">
                <button id="filtro2" class="btn btn-white btn-demo-space">Crescente</button>
                <button class="btn btn-white dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Decrescente</a></li>
                </ul>
	        </div>
       	</div>

		<div class="col-md-1 ">
			<button type="button" class="btn btn-success btn-cons" id="filterForm" style="width:100%">Pesquisar</button>
		</div>

		<div class="col-md-12">
			<div class="line"></div>
		</div>

		<div class="col-md-10">
			<p>Foram encotrado {{ funcionarios|length }} funcionários em {{ tempo }} segundos.</p>
		</div>
		
		{% ifnotequal user.groups.all.0.name "Costureiro" %}
		<div class="col-md-1 ">
			<a type="button" class="btn btn-primary btn-cons" href="createUser">Novo Funcionário</a>
		</div>
		
		{% endifnotequal %}
  

		
		{% for funcionaro in funcionarios %}
		<div class="col-md-3" style="padding-top: 5px;">
			<div class="funcionario">
				<div class="avatar"><img src="{{ funcionaro.extra.avatar.url }}"></div>
				<div class="conteudo">
					<div class="nome">{{ funcionaro.first_name }}</div>
					<div class="grupo">{{ funcionaro.groups.all|join:', ' }}</div>

					<div class="actions ">
						

						<div class="btn-group text-center pull-right">
							{% ifnotequal user.groups.all.0.name "Costureiro" %}
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#visualizar{{funcionaro.id}}">
						Visualizar
						</button>

						<!-- Modal -->
						<div class="modal fade" id="visualizar{{funcionaro.id}}" tabindex="-1" role="dialog" aria-labelledby="visLabel{{funcionaro.id}}" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h3 class="modal-title" id="visLabel{{funcionaro.id}}">{{funcionaro.first_name}}</h3>
						      </div>
						      <div class="modal-body">
						        <a href="{% url 'producao_pdf' funcionaro.id  %}" class="btn btn-primary">Relatório de produção</a>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
						      </div>
						    </div>
						  </div>
						</div>

						
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal{{funcionaro.id}}"> <i class="fa fa-trash"></i></button>
						<a href="{% url 'edit_user' funcionaro.id %}"><button type="button" class="btn btn-default" > <i class="fa fa-edit"></i></button></a> 
						{% endifnotequal %}
						<!-- Modal: confirmação para apagar -->
						<div class="modal fade background-black" id="exampleModal{{funcionaro.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{funcionaro.id}}" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h3 class="modal-title" id="exampleModalLabel{{funcionaro.id}}">{{funcionaro.first_name}}</h3>
						       
						      </div>
						      <div class="modal-body">
						        Deseja apagar este usuário?
						      </div>
						      <div class="modal-footer">
						       	<a href="{% url 'delete_user' funcionaro.id %}"><button type="button" class="btn btn-danger">Apagar</button></a>
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div></div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block cssinclude %}
	<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'plugins/jquery-notifications/css/messenger.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'plugins/jquery-notifications/css/messenger-theme-future.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block jsinclude %}
	<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>
	<script src="{% static 'plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'plugins/jquery-notifications/js/messenger.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'plugins/jquery-notifications/js/messenger-theme-future.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/controle.js' %}" type="text/javascript"></script>
	
{% endblock %}