{% extends './base.html' %}

{% load static %}
{% block titulo %} SGF - Cadastro de Funcionário {% endblock %}
{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}


{% block content %}
<style type="text/css">
  .errorlist {
    width: 100%;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    text-align: center;
    list-style: none;
  }
  form input {
    width: 100%;
  }

</style>

	<div class="col-md-12">
		<h1 class="text-center">Cadastrar novo funcionário</h1>
  </div>


{% if form1.errors %}
    {% for error in form1.non_field_errors %}
        <div class="errorlist">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %} 

{% if form2.errors %}
    {% for error in form2.non_field_errors %}
        <div class="errorlist">
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}


	<form method="POST" class="animated fadeIn" enctype="multipart/form-data">  
      <div class="form">
        {% csrf_token %}
        <div class="col-md-6 col-sm-2">
          {{form1.as_p}}</div>
        <div class="col-md-6">
          {{form2.as_p}}
        </div>

        <div class="col-md-4 col-md-offset-10">
          <button type="submit" class="btn btn-primary btn-cons">Salvar</button>
        </div>
      </div>
  </form>
			
	
{% endblock %}

{% block jsinclude %}
	
{% endblock %}