{% extends './base.html' %}

{% load static %}
{% block titulo %} SGF - Gráficos {% endblock %}
{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}

{% block content %}
	<div class="col-md-12">
			<div class="tiles white">
				<h1 class="text-center">Produção geral em tempo real</h1>
				<div class="rickshaw_graph" id="graficoGeral"></div>
			</div>
		</div>
{% endblock %}

{% block jsinclude %}
	<script src="{% static 'js/grafico.js' %}" type="text/javascript"></script>
{% endblock %}