{% extends './base.html' %}

{% load static %}

{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}

{% block pageTitle %}
	
{% endblock %}

{% block content %}
	<div class="row">
		{# START CARD 1 #}
			<div class="col-md-4 offset-md-1 offset-lg-2 col-lg-3 col-sm-6">
				<div class="tiles green m-b-10">
	              <div class="tiles-body">
				  <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
	                <div class="tiles-title text-black">CONTAS ATIVAS </div>
				         <div class="widget-stats">
	                      <div class="wrapper transparent"> 
							<span class="item-title">Gerente</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.gerente }}" data-animation-duration="700">{{ dados.gerente }}</span>
						  </div>
	                    </div>
	                    <div class="widget-stats">
	                      <div class="wrapper transparent">
							<span class="item-title">Secrétarios</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.secretário }}" data-animation-duration="700">{{ dados.secretário }}</span> 
						  </div>
	                    </div>
	                    <div class="widget-stats ">
	                      <div class="wrapper last"> 
							<span class="item-title">Costureiro</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.costureiro }}" data-animation-duration="700">{{ dados.costureiro }}</span> 
						 </div>
	                    </div> 
				  </div>			
				</div>
			</div>
			{# END CARD 1 #}
			{# START CARD 2 #}
			<div class="col-md-4 offset-md-1 offset-lg-2 col-lg-3 col-sm-6">
  			<div class="tiles blue m-b-10">
                <div class="tiles-body">
  			  <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                  <div class="tiles-title text-black">PRODUÇÃO MENSAL ({{ dados.desde }}) </div>
  			         <div class="widget-stats">
                        <div class="wrapper transparent"> 
  						<span class="item-title">Por hora</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.mhora }}" data-animation-duration="700">{{ dados.mhora }}</span>
  					  </div>
                      </div>
                      <div class="widget-stats">
                        <div class="wrapper transparent">
  						<span class="item-title">Por dia</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.mdia }}" data-animation-duration="700">{{ dados.mdia }}</span> 
  					  </div>
                      </div>
                      <div class="widget-stats ">
                        <div class="wrapper last"> 
  						<span class="item-title">Total</span> <span class="item-count animate-number semi-bold" data-value="{{ dados.mtotal }}" data-animation-duration="700">{{ dados.mtotal }}</span> 
  					 </div>
                      </div> 
  			  </div>			
  			</div>	
		  </div>
      {# END CARD 2 #}
      {# START CARD 3 #}
      <div class="col-md-4 offset-md-1 offset-lg-2 col-lg-3 col-sm-6">
        <div class="tiles purple m-b-10">
                <div class="tiles-body">
          <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                  <div class="tiles-title text-black">FUNCIONÁRIO DO MÊS ({{ dados.funcionario_mes.data|date:'F' }})</div>
                  <div class="widget-stats">
                    <div class="wrapper transparent"> 
                      <span class="item-title">Nome</span> <span class="item-count animate-number semi-bold" data-value="" data-animation-duration="700">{{ dados.funcionario_mes.funcionario.first_name }}</span>
                    </div>
                  </div>
                  <div class="widget-stats">
                    <div class="wrapper transparent"> 
                      <span class="item-title">Média</span> <span class="item-count animate-number semi-bold" data-value="" data-animation-duration="700">{{ dados.funcionario_mes.media }}</span>
                    </div>
                  </div>  
                  <div class="widget-stats">
                    <div class="wrapper transparent"> 
                      <span class="item-title">Produção</span> <span class="item-count animate-number semi-bold" data-value="" data-animation-duration="700">{{ dados.funcionario_mes.total }}</span>
                    </div>
                  </div>          
          </div>      
        </div>  
      </div>
      {# END CARD 3 #}
    </div>
		
		{# START BEST EMPLOYES 1 #}
		<div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <h4>Melhores  <span class="semi-bold">funcionários</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
              <table class="table" id="example3" >
                <thead>
                  <tr>
                  	<th>#</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Média por hora</th>
                    <th>Produção mensal (Unidades)</th>
                  </tr>
                </thead>
                <tbody>
                  {% for funcionario in melhores_funcionarios %}
                  <tr class="odd gradeX">
                  	<td>{{ forloop.counter }}</td>
                    <td>{{ funcionario.funcionario.first_name }}</td>
                    <td>{{ funcionario.funcionario.last_name }}</td>
                    <td>{{ funcionario.media }}</td>
                    <td class="center">{{ funcionario.total }}</td>
                  </tr>
                  {% endfor %}
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
		
	</div>
{% endblock %}

{% block jsinclude %}
<script src="{% static 'js/faccao.js' %}"></script>
{% endblock %}