{% extends './base.html' %}

{% load static %}

{% block titulo %} SGF - Live {% endblock %}

{% block avatar %}
  {{ usuario.extra.avatar.url }}
{% endblock %}

{% block nome %}
  {{ usuario.first_name }}
{% endblock %}

{% block grupo %}
  {{ usuario.groups.all.0 }}
{% endblock %}

{% block pageTitle %}
	Produção em tempo real
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="tiles white">
      <h1 class="text-center">Produção geral em tempo real</h1>
      <div class="rickshaw_graph" id="graficoGeral"></div>
    </div>
  </div>

	<div class="col-md-12" style="margin-top: 20px">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <h4>Melhores  <span class="semi-bold">funcionários</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body ">
              <table class="table table-striped">
                <thead>
                  <tr>
                  	<th>#</th>
                    <th>Nome</th>
                    <th>Média (Por hora de hoje)</th>
                    <th>Total (Hoje)</th>
                  </tr>
                </thead>
              	<tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
	
{% block jsinclude %}
	<script src="{% static 'js/live.js' %}" type="text/javascript"></script>
{% endblock %}
