{% extends './base.html' %}

{% load static %}
{% block titulo %} SGF - Ponto {% endblock %}
{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <h1 class="text-center">Importar arquivo de ponto</h1>
  </div>
        &nbsp;
        &nbsp;
  <form method="POST" class="animated fadeIn" action="uploadFilePonto" enctype="multipart/form-data">    
    {% csrf_token %}
    <center>
      <div class="form">
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-cons" >Importar</button> 
      </div>
    </center>
     
  </form>

  <center>
    {% for err in erros %}
      <ul>
        <li>
          {{err}}
        </li>
      </ul>
    {% endfor %}
  </center>
      
  
{% endblock %}

{% block jsinclude %}
  
{% endblock %}