{% extends './base.html' %}

{% load static %}
{% block titulo %} SGF - Salario {% endblock %}
{% block avatar %}
  {{ img }}
{% endblock %}

{% block nome %}
  {{ nome }}
{% endblock %}

{% block grupo %}
  {{ grupo }}
{% endblock %}

{% block content %}





  
    <h1 class="text-center">Salário dos funcionários</h1>
    <div class="table-responsive">
      <table class="table">
        <thead style="background-color: #333; color: white;">
          <tr>
            <th scope="col">CPF</th>
            <th scope="col">PIS</th>
            <th scope="col">Horas Trabalhadas</th>
            <th scope="col">Salário</th>
          </tr>
        </thead>
        <tbody style="color: black; background-color: #d9d9d9;">
          {% for f in func %}
          <tr>
            <td scope="row" style="color: black;">{{f.cpf}}</td>
            <td scope="row" style="color: black;">{{f.pis}}</td>
            <td scope="row" style="color: black;"></td>
            <td scope="row" style="color: black;"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</th>
{% endblock %}

{% block jsinclude %}
  
{% endblock %}