{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>SGF - Entrar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="{% static 'plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static 'plugins/boostrapv3/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/boostrapv3/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/custom-icon-set.css' %}" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->
<style type="text/css">
  .form {
    display: block;
    width: 90%;
    margin: 0 auto;
  }


  .form .errorlist {
    width: 100%;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    text-align: center;
  } 

  .form .errorlist > li {
    list-style-type: none;
  }

  .form input {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    
  }

  .form label {
    display: none;
  }

  .form input:not(:first-of-type) {
    margin-left: 9.9%;
  }
</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top">
<div class="container">
  <div class="row login-container animated fadeInUp">  
        <div class="col-md-7 col-md-offset-2 tiles white no-padding">
     <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
          <h2 class="normal">Entrar no SGF</h2>
          <p>Use seu login e senha, para entrar.<br></p>
        </div>
    <div class="tiles grey p-t-20 p-b-20 text-black">
      <form method="POST" id="frm_login" class="animated fadeIn">    
        {% csrf_token %}
        <div class="form">
          {{ form.as_p }}
        </div>
        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
           <div class="col-md-12">
            <button type="submit" style="width: 100%" class="btn btn-primary btn-cons">Entrar</button>
          </div>
          <div class="control-group  col-md-12">
            <div class="checkbox checkbox check-success text-center"> <a href="#">Dificuldades no acesso?</a>&nbsp;&nbsp;</div>
          </div>  
        </div>
      </form>
    </div>   
      </div>   
  </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<script src="{% static 'plugins/jquery-1.8.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/pace/pace.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
</body>
</html>