<h1>Esqueceu sua senha?</h1>
<p>Digite seu email abaixo, e nos iremos enviar instruções para a recuperação de senha.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Me mande as instruções!">
  </form>
</div>
